In [1]:
# 依旧先导包
# 老规矩，先导包和中文解码问题
import numpy as np
import pandas as pd
import seaborn as sns

# 解决中文显示问题，下面的代码只需运行一次即可
import matplotlib as plt

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
import os
# 查看当前文件夹下的所有文件
list_dir = os.listdir()
list_dir

['.git',
 '.idea',
 'analyse_dataset.ipynb',
 'dataset',
 'model',
 'models.py',
 'README.md',
 'requirements.txt',
 'train.py',
 'utils.py',
 '__pycache__',
 '研究日记.md']

In [2]:
# 色散的网络数据集
disper_comsol_df = pd.read_excel('./dataset/色散comsol+网络.xlsx')
disper_comsol_df = disper_comsol_df.iloc[:8793]
# 有效折射率差值的网络数据集
diff_neff_comsol_df = pd.read_excel('./dataset/Δneff_comsol+网络.xlsx')
diff_neff_comsol_df = diff_neff_comsol_df.iloc[:11545]

In [5]:
# 1、加载csv文件数据集文件
data = pd.read_excel('./dataset/Δneff_comsol+网络.xlsx')
# 只使用前11545行数据，因为前面的数据是真的仿真数据，11545行后的数据是神经网络生成的数据
data = data.iloc[:11545, :-1]
# 输出数据集的形状和前五行数据
# print(f"data.shape:{data.shape}\n")   # (2000, 21)
# print(f"data.head():{data.head()}\n")

# 2、获取x特征列和y标签列
x = data.iloc[:, :6]
y = data.iloc[:, 6:]
# 对y中所有的列的值都乘以10000倍
y = y * 10000
x

          n1     n2    r8     r9    r10    wl
0      0.047 -0.010  3.00   6.00   7.50  1.50
1      0.047 -0.010  3.00   6.00   7.50  1.52
2      0.047 -0.010  3.00   6.00   7.50  1.54
3      0.047 -0.010  3.00   6.00   7.50  1.56
4      0.047 -0.010  3.00   6.00   7.50  1.58
...      ...    ...   ...    ...    ...   ...
11540  0.050 -0.030  5.05   7.00   7.92  1.56
11541  0.060 -0.040  4.92   7.03   8.01  1.54
11542  0.060 -0.040  4.92   7.03   8.01  1.55
11543  0.060 -0.040  4.92   7.03   8.01  1.56
11544  0.030 -0.015  7.86  10.37  11.41  1.50

[11545 rows x 6 columns]

In [10]:
# 1、加载csv文件数据集文件
data = pd.read_excel('./dataset/Δneff_comsol+网络.xlsx')
# 只使用前11545行数据，因为前面的数据是真的仿真数据，11545行后的数据是神经网络生成的数据
data = data.iloc[:11545, :-1]

# 2、获取x特征列和y标签列同时把特征列转成浮点型，一定要转成浮点型，因为在神经网络中，计算都是浮点型   
# x：6个光学特性（作为输入）  y：6个结构参数（作为输出）
x = data.iloc[:, :6].astype(np.float32)  # 光学结构参数即作为输入，也作为输出
# 对x的前两列乘以100倍
x.iloc[:, :2] = x.iloc[:, :2] * 100
y = data.iloc[:, 6:].astype(np.float32)  # 光学特性参数作为条件输入


x = x*10000
y = y*10000
y

,TE01-HE21,HE21-TM01,HE31-EH11,HE41-EH21,HE51-EH31,HE61-EH41
0,47972.121094,58859.847656,11848.740234,4911.460449,2931.800537,13842.285156
1,49441.925781,60756.968750,12288.101562,5034.927734,3196.682617,14652.287109
2,50925.968750,62675.152344,12732.131836,5154.427734,3479.208984,15498.324219
3,52423.761719,64613.691406,13180.486328,5269.503418,3780.067627,16380.730469
4,53934.789062,66571.859375,13632.813477,5379.686523,4099.952148,17299.818359
...,...,...,...,...,...,...
11540,107001.640625,209744.875000,117892.000000,76398.101562,51500.277344,33525.785156
11541,102295.781250,194120.250000,105715.554688,67934.523438,45829.972656,29713.513672
11542,103827.148438,197407.843750,107715.085938,69269.921875,46759.417969,30304.757812
11543,105363.484375,200704.062500,109718.648438,70607.320312,47688.890625,30893.144531
11544,38467.125000,65319.410156,32769.203125,20357.169922,13971.832031,8661.339844

In [9]:
# 色散数据集的最大最小值
disper_comsol_df.describe().loc[['count','min','max']]

,n1,n2,r8,r9,r10,wl,HE11,HE21,TE01,TM01,HE31,EH11,HE41,EH21,HE51,EH31,HE61,EH41,8793(含)前为comsol
count,8793.000,8793.00,8793.000,8793.0,8793.0,8793.00,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,0.0
min,0.018,-0.05,2.709,5.7,7.0,1.51,-47.864918,-49.797800,-47.073422,-115.965649,-51.621914,-115.537541,-53.496668,-114.096360,-56.356086,-115.267863,-62.296721,-115.907453,NaN
max,0.090,-0.01,8.100,14.0,16.0,1.59,51.093308,55.906172,51.829430,62.764967,68.885087,71.384960,89.993278,90.689616,118.444217,117.836674,153.609636,148.524927,NaN

In [40]:
# 先计算两个差值
diff_r3_r2 = disper_comsol_df['r10'] - disper_comsol_df['r9']
diff_r2_r1 = disper_comsol_df['r9'] - disper_comsol_df['r8']

# 合并为新DataFrame（指定列名，更易读）
diff_df = pd.DataFrame({
    'diff_r3_r2': diff_r3_r2,  # 列名1：r10 - r9
    'diff_r2_r1': diff_r2_r1   # 列名2：r9 - r8
})

diff_df.describe()

        diff_r3_r2   diff_r2_r1
count  8793.000000  8793.000000
mean      1.084347     2.482746
std       0.198466     1.067835
min       0.600000     1.300000
25%       1.000000     1.800000
50%       1.000000     2.300000
75%       1.100000     2.950000
max       4.500000     8.800000

In [38]:
diff_neff_comsol_df.describe().loc[['count','min','max']]

,n1,n2,r8,r9,r10,wl,TE01-HE21,HE21-TM01,HE31-EH11,HE41-EH21,HE51-EH31,HE61-EH41,11545(含)前为comsol
count,11545.000,11545.00,11545.000,11545.0,11545.0,11545.0,11545.000000,11545.000000,11545.000000,11545.000000,11545.000000,11545.000000,0.0
min,0.018,-0.05,2.709,5.7,7.0,1.5,0.257276,0.274097,0.015969,0.003171,0.002987,0.016602,NaN
max,0.090,-0.01,8.100,14.0,16.0,1.6,13.220317,66.230488,56.617398,47.784099,41.014492,33.247190,NaN

In [41]:
# 先计算两个差值
diff_r3_r2 = diff_neff_comsol_df['r10'] - diff_neff_comsol_df['r9']
diff_r2_r1 = diff_neff_comsol_df['r9'] - diff_neff_comsol_df['r8']

# 合并为新DataFrame（指定列名，更易读）
diff_df = pd.DataFrame({
    'diff_r3_r2': diff_r3_r2,  # 列名1：r10 - r9
    'diff_r2_r1': diff_r2_r1   # 列名2：r9 - r8
})

diff_df.describe()

         diff_r3_r2    diff_r2_r1
count  11545.000000  11545.000000
mean       1.072984      2.459582
std        0.161427      1.031975
min        0.000000      1.400000
25%        1.000000      1.800000
50%        1.000000      2.300000
75%        1.100000      2.950000
max        2.127000      8.800000

In [47]:
for column in disper_comsol_df.columns:
    val_counts_df = disper_comsol_df[column].value_counts(dropna=False).reset_index()
    val_counts_df.columns = ['元素', '出现次数']
    val_counts_df = val_counts_df.sort_values(by='元素', ascending=True, na_position='last')
    print(f'列{column}的统计：')
    print(val_counts_df.head(20))

列n1的统计：
        元素  出现次数
36  0.0180     9
53  0.0200     3
1   0.0250   726
2   0.0300   702
11  0.0350   481
35  0.0380    12
34  0.0390    12
8   0.0400   567
49  0.0410     3
54  0.0420     3
13  0.0440   309
39  0.0450     6
12  0.0470   386
38  0.0471     6
14  0.0480    78
19  0.0490    36
10  0.0500   488
15  0.0510    63
17  0.0520    48
20  0.0530    33
列n2的统计：
        元素  出现次数
41 -0.0500     3
9  -0.0490   135
42 -0.0485     3
7  -0.0470   620
19 -0.0460    24
5  -0.0450   878
32 -0.0440     9
11 -0.0430    60
20 -0.0420    21
37 -0.0410     3
6  -0.0400   848
34 -0.0390     9
15 -0.0380    36
28 -0.0370    15
27 -0.0360    15
4  -0.0350   913
36 -0.0340     6
18 -0.0330    27
26 -0.0320    15
12 -0.0310    57
列r8的统计：
        元素  出现次数
193  2.709     3
187  2.747     3
191  2.782     3
196  2.829     3
197  2.844     3
195  2.858     3
190  2.928     3
75   2.932     6
185  2.947     3
168  2.950     3
3    3.000   487
198  3.001     3
74   3.004     6
186  3.010     3
165  3.021     3
164  3.027     3
76   3.039     6
162  3.042     3
166  3.044     3
42   3.061    27
列r9的统计：
        元素  出现次数
43   5.700    27
99   5.801     3
210  5.805     3
196  5.808     3
199  5.812     3
200  5.816     3
178  5.822     3
204  5.844     3
203  5.855     3
44   5.883    27
163  5.898     3
184  5.903     3
201  5.924     3
91   5.926     3
38   5.930    39
165  5.932     3
205  5.933     3
186  5.940     3
185  5.944     3
101  5.962     3
列r10的统计：
        元素  出现次数
35   7.000    33
194  7.055     3
195  7.094     3
199  7.188     3
71   7.200     9
38   7.229    27
203  7.231     3
187  7.299     3
59   7.300     9
197  7.321     3
185  7.357     3
33   7.385    39
171  7.390     3
170  7.398     3
90   7.400     6
182  7.401     3
205  7.403     3
186  7.404     3
204  7.406     3
173  7.408     3
列wl的统计：
     元素  出现次数
5  1.51   306
3  1.52  1221
6  1.53   305
0  1.54  1710
2  1.55  1710
1  1.56  1710
7  1.57   305
4  1.58  1221
8  1.59   305
列HE11的统计：
             元素  出现次数
6350 -47.864918     1
6359 -46.949776     1
6613 -46.935886     1
6346 -46.739078     1
6651 -46.684107     1
5338 -46.295422     1
6351 -45.254311     1
5414 -44.971282     1
5596 -44.468357     1
6374 -44.359685     1
6614 -44.340125     1
6347 -44.137319     1
5600 -44.109168     1
6652 -44.070725     1
6729 -44.014158     1
5339 -43.950006     1
4923 -43.780872     1
5656 -43.649382     1
5609 -43.480419     1
6655 -43.450475     1
列HE21的统计：
             元素  出现次数
6351 -49.797800     1
6360 -48.520836     1
6347 -48.461175     1
6652 -48.320232     1
6614 -48.207346     1
6352 -46.870253     1
5339 -46.707920     1
5597 -46.220917     1
5601 -46.126972     1
6375 -45.649943     1
6348 -45.560007     1
6730 -45.486994     1
5415 -45.430361     1
6653 -45.401282     1
6615 -45.321817     1
5610 -45.138129     1
5657 -45.094322     1
6656 -44.944998     1
6728 -44.292572     1
5598 -44.289197     1
列TE01的统计：
             元素  出现次数
6350 -47.073422     1
6359 -46.418891     1
6613 -46.245811     1
5338 -46.201442     1
6346 -46.139806     1
6651 -45.971654     1
5414 -44.835964     1
6351 -44.577010     1
6374 -43.926655     1
5339 -43.914044     1
4923 -43.777171     1
6614 -43.751550     1
5596 -43.666774     1
6347 -43.643391     1
6652 -43.469422     1
6729 -43.388166     1
5600 -43.234199     1
5415 -43.230788     1
5656 -43.098710     1
5609 -42.858635     1
列TM01的统计：
              元素  出现次数
5128 -115.965649     1
4924 -113.882089     1
5129 -103.780874     1
5339 -103.230249     1
4923 -103.136194     1
6652 -101.929016     1
6347 -101.646096     1
6614 -101.530732     1
6360 -101.350428     1
6351 -100.953300     1
7097  -98.269321     1
7121  -98.199205     1
5340  -96.362990     1
6653  -94.647684     1
6348  -94.369930     1
6615  -94.260285     1
6375  -94.086468     1
6352  -93.716040     1
4922  -93.262217     1
7227  -93.082010     1
列HE31的统计：
             元素  出现次数
6350 -51.621914     1
6651 -50.041850     1
6613 -49.949864     1
6346 -49.941619     1
6359 -49.868859     1
6351 -48.198959     1
5600 -47.509820     1
5596 -47.451147     1
6652 -46.648587     1
6614 -46.615544     1
6729 -46.593337     1
6347 -46.580466     1
6374 -46.560420     1
5338 -46.534363     1
6655 -46.140203     1
5609 -46.061732     1
5656 -46.001945     1
5414 -45.226378     1
5597 -45.176073     1
5601 -45.171308     1
列EH11的统计：
              元素  出现次数
5127 -115.537541     1
4923 -113.259605     1
5338 -103.995181     1
5128 -103.134203     1
4922 -102.344741     1
6651 -101.353864     1
6613 -100.930216     1
6346 -100.905057     1
6359 -100.622992     1
6350 -100.608655     1
7096  -97.537671     1
7120  -97.338828     1
5339  -96.370233     1
6652  -93.922658     1
6614  -93.518291     1
6347  -93.485172     1
6374  -93.226363     1
6351  -93.188283     1
7226  -92.404472     1
4921  -92.332916     1
列HE41的统计：
             元素  出现次数
6350 -53.496668     1
6346 -51.629464     1
6651 -51.419580     1
6359 -51.385721     1
6613 -51.230114     1
6351 -49.343953     1
5600 -48.454983     1
5596 -48.162561     1
6347 -47.592055     1
6374 -47.440790     1
6729 -47.416838     1
6652 -47.357527     1
6614 -47.242340     1
6655 -47.120608     1
5609 -46.768031     1
5656 -46.602655     1
5338 -46.084357     1
6728 -45.715336     1
6727 -45.605706     1
5601 -45.605178     1
列EH21的统计：
              元素  出现次数
5130 -114.096360     1
4924 -111.564944     1
5131 -101.009019     1
6655 -100.282460     1
4923 -100.105308     1
6349  -99.847468     1
5342  -99.769288     1
6617  -99.617768     1
6362  -99.485890     1
6353  -99.083148     1
7098  -95.157663     1
7124  -94.891956     1
5343  -92.572586     1
6656  -92.270698     1
6350  -91.881215     1
6618  -91.685706     1
6377  -91.590068     1
6354  -91.073055     1
4922  -89.678604     1
5132  -89.306307     1
列HE51的统计：
             元素  出现次数
6350 -56.356086     1
6651 -53.937981     1
6346 -53.609812     1
6613 -53.331244     1
6359 -53.103304     1
6351 -51.017112     1
5600 -49.524541     1
5596 -49.019867     1
6652 -48.750955     1
6729 -48.580317     1
6347 -48.513687     1
6614 -48.325404     1
6374 -48.182319     1
6655 -47.235487     1
5609 -47.047475     1
5656 -46.761658     1
1537 -46.381482     1
6728 -46.181508     1
6352 -46.143523     1
1585 -46.032426     1
列EH31的统计：
              元素  出现次数
5127 -115.267863     1
4923 -111.536864     1
6651 -100.921914     1
5128 -100.590256     1
6346 -100.162022     1
6613  -99.898992     1
6350  -99.895453     1
6359  -99.398048     1
4922  -98.869338     1
5338  -97.135414     1
7096  -94.152181     1
7120  -93.195117     1
6652  -91.561851     1
6347  -90.922088     1
6614  -90.757501     1
6351  -90.477628     1
6374  -90.360317     1
5339  -89.418180     1
5129  -87.714105     1
4921  -87.520897     1
列HE61的统计：
             元素  出现次数
6350 -62.296721     1
6651 -58.965319     1
6346 -58.195035     1
6613 -57.313133     1
6359 -56.935711     1
6351 -54.752717     1
5600 -52.735369     1
6652 -51.759857     1
6729 -51.411263     1
5596 -51.285307     1
6347 -51.210281     1
6614 -50.532422     1
6374 -50.327593     1
6655 -48.947516     1
5609 -48.582980     1
1537 -48.556536     1
6728 -48.096884     1
6352 -48.069809     1
5656 -47.854230     1
5601 -47.533104     1
列EH41的统计：
              元素  出现次数
5127 -115.907453     1
4923 -110.747062     1
6651 -107.440575     1
6350 -106.705723     1
6346 -105.759243     1
6613 -104.922674     1
6359 -103.725743     1
5128  -98.393773     1
4922  -95.922079     1
6652  -94.959430     1
6351  -93.981899     1
5338  -93.715911     1
6347  -93.632105     1
6614  -93.096948     1
6374  -92.193221     1
7096  -90.964568     1
1537  -89.500793     1
7120  -89.456008     1
4738  -88.435684     1
6729  -88.430679     1
列8793(含)前为comsol的统计：
   元素  出现次数
0 NaN  8793